<a href="https://colab.research.google.com/github/Josephnyingi/Electric_Carsharing/blob/master/Electric_Carsharing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1.0 Importing pandas and numpy libraries.**

In [2]:
# Importing the libraries we will need
# Importing the Pandas libraries
import pandas as pd
# imporing the Numpy libraries
import numpy as np
# importing the sys output information to help pandas display a series without error.
import sys

**1.1 Loading our dataset**

In [3]:
# we start by importing Autolib.csv file 
df1 = pd.read_csv('/content/Autolib_dataset (2).csv')
print(df1)
#df1(5)

                                 Address  Cars  ...  hour  minute
0                    2 Avenue de Suffren     0  ...    11      43
1              145 Rue Raymond Losserand     6  ...     7      24
2       2 Avenue John Fitzgerald Kennedy     3  ...    20      14
3                 51 Rue EugÃ¨ne OudinÃ©     3  ...     4      37
4     6 avenue de la Porte de Champerret     3  ...    17      23
...                                  ...   ...  ...   ...     ...
4995                 8 avenue MÃ©nelotte     2  ...    11      26
4996                   37 rue de Dantzig     4  ...    16      56
4997                      142 rue du Bac     1  ...     7       1
4998         2 avenue du Val de Fontenay     2  ...    17      27
4999                 5 Rue Henry Brisson     4  ...    10       2

[5000 rows x 25 columns]

In [4]:
#Lets see descriptive statistics for Autolib
df1.describe()

              Cars  Bluecar counter  ...         hour       minute
count  5000.000000      5000.000000  ...  5000.000000  5000.000000
mean      2.333600         2.333600  ...    11.509200    29.270000
std       2.035274         2.035274  ...     6.893549    17.231741
min       0.000000         0.000000  ...     0.000000     0.000000
25%       0.000000         0.000000  ...     6.000000    14.000000
50%       2.000000         2.000000  ...    11.000000    29.000000
75%       4.000000         4.000000  ...    18.000000    44.000000
max       7.000000         7.000000  ...    23.000000    59.000000

[8 rows x 12 columns]

In [5]:
#To get a concise summary of the dataframe.
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Address              5000 non-null   object
 1   Cars                 5000 non-null   int64
 2   Bluecar counter      5000 non-null   int64
 3   Utilib counter       5000 non-null   int64
 4   Utilib 1.4 counter   5000 non-null   int64
 5   Charge Slots         5000 non-null   int64
 6   Charging Status      5000 non-null   object
 7   City                 5000 non-null   object
 8   Displayed comment    111 non-null    object
 9   ID                   5000 non-null   object
 10  Kind                 5000 non-null   object
 11  Geo point            5000 non-null   object
 12  Postal code          5000 non-null   int64
 13  Public name          5000 non-null   object
 14  Rental status        5000 non-null   object
 15  Scheduled at         47 non-null     object
 16  Slots                5000 non-null   int64
 17  Station type         5000 non-null   object
 18  Status               5000 non-null   object
 19  Subscription status  5000 non-null   object
 20  year                 5000 non-null   int64
 21  month                5000 non-null   int64
 22  day                  5000 non-null   int64
 23  hour                 5000 non-null   int64
 24  minute               5000 non-null   int64
dtypes: int64(12), object(13)
memory usage: 976.7+ KB


Cleaning our dataset

2.1 Validity

In [6]:
# Procedure 1: checking the irrelavant data
# Irrelevant data are those that are not actually needed, and don’t fit under 
# the context of the problem we’re trying to solve. 
# Procedure 2:  data cleaning using the dropping location_1  attribute
# Dropping irrelavant column i.e 'Displayed comment'
#
df1= df1.drop(['Displayed comment'], axis= 1)
  
# Display the resulting dataframe
print(df1.columns)

Index(['Address', 'Cars', 'Bluecar counter', 'Utilib counter',
       'Utilib 1.4 counter', 'Charge Slots', 'Charging Status', 'City', 'ID',
       'Kind', 'Geo point', 'Postal code', 'Public name', 'Rental status',
       'Scheduled at', 'Slots', 'Station type', 'Status',
       'Subscription status', 'year', 'month', 'day', 'hour', 'minute'],
      dtype='object')

In [7]:
# Dropping irrelavant column i.e 'cars'
#
df1= df1.drop(['Cars'], axis= 1)
  
# Display the resulting dataframe
print(df1.columns)

Index(['Address', 'Bluecar counter', 'Utilib counter', 'Utilib 1.4 counter',
       'Charge Slots', 'Charging Status', 'City', 'ID', 'Kind', 'Geo point',
       'Postal code', 'Public name', 'Rental status', 'Scheduled at', 'Slots',
       'Station type', 'Status', 'Subscription status', 'year', 'month', 'day',
       'hour', 'minute'],
      dtype='object')

In [8]:
# Dropping irrelavant column i.e 'Scheduled at'
#
df1= df1.drop(['Scheduled at'], axis= 1)
  
# Display the resulting dataframe
print(df1.columns)

Index(['Address', 'Bluecar counter', 'Utilib counter', 'Utilib 1.4 counter',
       'Charge Slots', 'Charging Status', 'City', 'ID', 'Kind', 'Geo point',
       'Postal code', 'Public name', 'Rental status', 'Slots', 'Station type',
       'Status', 'Subscription status', 'year', 'month', 'day', 'hour',
       'minute'],
      dtype='object')

**2.2 Accuracy**

In [9]:
# Checking In-record and Cross-data set errors
# is a Data cleaning action. am ensuring the values are negative and between Eight.
#
df1.head()
df1['Bluecar counter'] = df1['Bluecar counter'][(df1['Bluecar counter']>=0) & (df1['Bluecar counter']<=7)]
df1.shape

(5000, 22)

In [10]:
# Checking In-record and Cross-data set errors
# is a Data cleaning action. am ensuring the values are negative and between six.
#
df1.head()
df1['Utilib 1.4 counter'] = df1['Utilib 1.4 counter'][(df1['Utilib 1.4 counter']>=0) & (df1['Utilib 1.4 counter']<=5)]
df1.shape

(5000, 22)

In [13]:
# Checking In-record and Cross-data set errors
# is a Data cleaning action. am ensuring the values are negative and between Five.
#
df1.head()
df1['Utilib counter'] = df1['Utilib counter'][(df1['Utilib counter']>=0) & (df1['Utilib counter']<=4)]
df1.shape

(5000, 22)

**2.3 Completeness**

In [16]:
#Completeness. The degree to which all required data is known. 
#Missing data is going to happen for various reasons
#
df1.isnull().sum()

Address                0
Bluecar counter        0
Utilib counter         0
Utilib 1.4 counter     0
Charge Slots           0
Charging Status        0
City                   0
ID                     0
Kind                   0
Geo point              0
Postal code            0
Public name            0
Rental status          0
Slots                  0
Station type           0
Status                 0
Subscription status    0
year                   0
month                  0
day                    0
hour                   0
minute                 0
dtype: int64

**2.4 Consitency**

```
# This is formatted as code
```

In [17]:
# Procedure 1: Duplicates
# Data Cleaning Action: No action taken
# Explanation: There were no duplicate instances
#
df1.duplicated().sum()

0

**2.5 Uniformity**

**3 Analysis**

```
# This is formatted as code
```

Indentifying the most popular hour of the day for picking up shared electric car(Bluecar) in paris city over the month of April 2018.

In [28]:
  df1[['hour', 'Bluecar counter']][(df1['City']=='Paris')& (df1['month']==4) & (df1['year']== 2018)].groupby(['hour']).sum().sort_values(by='Bluecar counter', ascending=False).tail(1)

      Bluecar counter
hour
20                149

**The most popular hour is 20th hour since it has the least number of bluecars.**